{% extends 'base.html.twig' %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_objetivos_index') }}">Objetivos</a></li>
        <li class="active">Nuevo objetivo</a></li>
    </ol>

    <div class="page-header">
          <h1>Nuevo Objetivo</h1>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="col-md-1 btn btn-success option-btn"  type="submit" value="Crear" />
    {{ form_end(form) }}
<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_objetivos_index') }}">Volver atrás</a>
</div>

{% endblock %}
