{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_objetivos_index') }}">Objetivos</a></li>
        <li class="active">Detalle de objetivo</a></li>
    </ol>

    <div class="page-header">
          <h1>Detalle de Objetivo</h1>
    </div>

<dl class="dl-horizontal">
  <dt>Código</dt>
  <dd>{{ objetivo.codigo }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Descripcion</dt>
  <dd>{{ objetivo.descripcion }}</dd>
</dl>

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_objetivos_index') }}">Volver</a>
            <a class="col-md-1 btn btn-success option-btn"  href="{{ path('admin_crud_objetivos_edit', { 'id': objetivo.id }) }}">Editar</a>
</div>

    <script type="text/javascript">
    $(document).ready(function() {
    $('#metasTable').DataTable({
         "language": {
            "url": "/lang/datatables_spanish.json"
        }
    });
} );
</script>
{% endblock %}
