{% extends 'base.html.twig' %}

{% block body %}
        <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_etiquetas_index') }}">Etiquetas</a></li>
        <li class="active">Nueva etiqueta</a></li>
    </ol>

      <div class="page-header">
          <h2>Nueva Etiqueta</h2>
    </div>


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <hr>
        <input  class="col-md-1 col-md-offset-2 btn btn-success option-btn"  type="submit" value="Guardar" />
    {{ form_end(form) }}
<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_etiquetas_index') }}">Volver</a>
</div>
{% endblock %}
