{% extends 'base.html.twig' %}

{% block body %}
       <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_etiquetas_index') }}">Etiquetas</a></li>
        <li class="active">Detalle de etiqueta</a></li>
    </ol>
    <div class="page-header">
          <h1>Detalle de Etiqueta</h1>
    </div>

<dl class="dl-horizontal">
  <dt>Id</dt>
  <dd>{{ etiqueta.id }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Descripcion</dt>
  <dd>{{ etiqueta.descripcion }}</dd>
</dl>


  <div class="row">
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_etiquetas_index') }}">Volver atrás</a>
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_etiquetas_edit', { 'id': etiqueta.id }) }}">Editar</a>
            {{ form_start(delete_form) }}

                <input class="btn btn-danger col-md-1 option-btn" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
</div>
{% endblock %}
