{% extends 'base_panel_users.html.twig' %}

{% block panel_body %}
       <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_etiquetas_index') }}">Etiquetas</a></li>
        <li class="active">Detalle de etiqueta</a></li>
    </ol>
    <div class="page-header">
          <h2>Detalle de Etiqueta</h2>
    </div>

<dl class="dl-horizontal">
  <dt>Desglose</dt>
  <dd>{{ etiqueta.getFkiddesgloce.descripcion }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Descripcion</dt>
  <dd>{{ etiqueta.descripcion }}</dd>
</dl>


  <div class="row">
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_etiquetas_index') }}">Volver</a>
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_etiquetas_edit', { 'id': etiqueta.id }) }}">Editar</a>
</div>
{% endblock %}
