{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/globalutils.js') }}"></script>
{% endblock %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Valores de indicadores</a></li>
    </ol>
    <div class="page-header">
          <h2>Valores de indicadores</h2>
          <h2><small>{{indicador_desc}}</small></h2>
    </div>



<div class="row">
<table id="valoresindicadoresTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>ID Indicador</th>
		<th>ID Etiqueta</th>
		<th>ID Usuario</th>	
		<th>ID Ref</th>
		<th>Periodo</th>
		<th>Ref. geográfica</th>
		<th>Usuario</th>
		<th>Etiqueta</th>
		<th>Valor</th>
		<th>Aprobado</th>
	</tr>
	</thead>
	<tfoot>
	<tr>
		<th>ID Indicador</th>
		<th>ID Etiqueta</th>
		<th>ID Usuario</th>	
		<th>ID Ref</th>
		<th>Periodo</th>
		<th>Ref. geográfica</th>
		<th>Usuario</th>
		<th>Etiqueta</th>
		<th>Valor</th>
		<th>Aprobado</th>
	</tr>
	</tfoot>
	{% for valorindicador in valoresindicadores %}
	<tr >
		<td>{{ valorindicador.idvaloresindicadoresconfigfecha.idIndicador.id }}</td>
		<td>{{ valorindicador.idEtiqueta }}</td>
		<td>{{ valorindicador.idUsuario.id }}</td>
		<td>{{ valorindicador.idRefgeografica.id }}</td>
		<td>{{ valorindicador.idvaloresindicadoresconfigfecha.fecha|date("Y") }}</td>
		<td>{{ valorindicador.idRefgeografica }}</td>
		<td>{{ valorindicador.idUsuario }}</td>
		<td>
		{% set etiquetas_list = valorindicador.idEtiqueta|split(':') %}
		{% for id_etiqueta in etiquetas_list %}
			{{etiquetas[id_etiqueta]}}
			{% if not loop.last %}/{% endif %}
		{% endfor %}
		</td>
		<td>{{ valorindicador.valor }}</td>
		<td>{{ valorindicador.aprobado ? "Si" : "No"}}</td>
	</tr>
	{% endfor %}
</table>
</div>

<div id="globalModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
    </div>
    </div>
  </div>
</div>



<script type="text/javascript">
	$(document).ready(function() {

	var api_urls = {{ api_urls|json_encode|raw}};

	var globalModal = 'globalModal';


	function aproveDataRequest(data, rows){
		console.log(data);
		var url = api_urls.aproveData;
		$.ajax(url,{
          'data': JSON.stringify(data),
          'type': 'POST',
          'processData': false,
          'contentType': 'application/json',
           success: function(data) {
              if (data.success){
                showSimpleModal(globalModal, 'success', 'Valores GUARDADOS con éxito');
                updateRowsAproveStatus(rows,data["action"]);
              } else {
                showSimpleModal(globalModal, 'error', data.msg);
              }
              location.reload();
          },
          error: function(data) {
            showSimpleModal(globalModal, 'error', "ERROR! Ocurrió un error mientras se intentaban guardar los datos");
          },
      });
	}


	function updateRowsAproveStatus(rowsNodes, newStatus){
	}


	// Prepara datos para aprobar/desaprobar
	function prepareDataToAprove(row){
		return {
			"indicador":row[0],
			"etiqueta":row[1],
			"refGeografica":row[3],
			"fecha":row[4]
		}
	}

	$.fn.dataTable.ext.buttons.aproveAll = {
	    text: 'Aprobar seleccionados',
	    className:'btn-success',
	    action: function ( e, dt, node, config ) {
	    	var syncData = {"action":1,"data":[]}
	    	var rows = [];
	        dt.rows( { selected: true } ).every( function ( rowIdx, tableLoop, rowLoop ) {
	    		var rowData = this.data();
	    		syncData["data"].push(prepareDataToAprove(rowData));
	    		rows.push(this);
			} );
	        aproveDataRequest(syncData, rows);
	    }
	};

	$.fn.dataTable.ext.buttons.disaproveAll = {
	    text: 'Desaprobar seleccionados',
	    className:'btn-danger',
	    action: function ( e, dt, node, config ) {
	    	var syncData = {"action":0,"data":[]}
	    	var rows = [];
	        dt.rows( { selected: true } ).every( function ( rowIdx, tableLoop, rowLoop ) {
	    		var rowData = this.data();
	    		syncData["data"].push(prepareDataToAprove(rowData));
	    		rows.push(this);
			} );
	        aproveDataRequest(syncData, rows);
	    }
	};

	$.fn.dataTable.ext.buttons.selectVisibles = {
	    text: 'Seleccionar visibles',
	    action: function ( e, dt, node, config ) {
	    	console.log("select");
	    	console.log(node);
	    	table.rows( { page: 'current' } ).select();
	    }
	};

	$('#valoresindicadoresTable tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
    } );


    var table = $('#valoresindicadoresTable').DataTable({
    	dom: 'Bilfrtp',
    	buttons: [
        'selectAll',
        'selectVisibles',
        'selectNone',
        'aproveAll',
        'disaproveAll',
    	],
	    language: {
		    "sLengthMenu":     "Mostrar _MENU_ registros",
		    "sZeroRecords":    "No se encontraron resultados",
		    "sEmptyTable":     "Ningún dato disponible en esta tabla",
		    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
		    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
		    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
		    "sSearch":         "Buscar:",
		    "oPaginate": {
		        "sFirst":    "Primero",
		        "sLast":     "Último",
		        "sNext":     "Siguiente",
		        "sPrevious": "Anterior"
		    },
		    "oAria": {
		        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
		        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
		    },
	        buttons: {
	            selectAll: "Seleccionar todos",
	            selectNone: "Deseleccionar todos"
	        }
	    },
	    "columnDefs": [
            {
                "targets": [0,1,2,3],
                "visible": false,
            },
            { "width": "10%", "targets": [4,6,7,9] },
            { "width": "15%", "targets": 5 },
            {
            	"targets":[8],
            	"className": "dt-right",
            	"width": "10%",
            },
        ],
        "order": [[ 9, "asc" ]],
        "pageLength": 50
    });

    $('#valoresindicadoresTable tbody').on( 'click', 'tr', function () {
        var row = table.row( $(this));
        if ($(this).hasClass('selected')){
        	row.deselect();	
        } else {
        	row.select();
        }
    } );

    table.columns().every( function () {
        var that = this;
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that.search( this.value ).draw();
            }
        } );
    } );

} );

</script>

{% endblock %}
