{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li class="active">Valores de indicadores</a></li>
    </ol>
    <div class="page-header">
          <h1>Valores de indicadores</h1>
    </div>

<table id="valoresindicadoresTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Indicador</th>
		<th>Etiqueta</th>
		<th>Ref. geográfica</th>
		<th>Fecha</th>
		<th>Valor</th>
		<th>Aprobado</th>
		<th>Acciones</th>	
	</tr>
	</thead>
	{% for valorindicador in valoresindicadores %}
	<tr class="{{ valorindicador.aprobado ?  'success' : 'danger'}}">
		<td>{{ valorindicador.idIndicador }}</td>
		<td>{{ valorindicador.idEtiqueta }}</td>
		<td>{{ valorindicador.idRefgeografica }}</td>
		<td>{{ valorindicador.fecha|date("m/d/Y") }}</td>
		<td>{{ valorindicador.valor }}</td>
		<td>{{ valorindicador.aprobado ? "Si" : "No"}}</td>
		<td></td>
	</tr>
	{% endfor %}
</table>


<script type="text/javascript">
	$(document).ready(function() {
    $('#valoresindicadoresTable').DataTable({
    	 "language": {
            "url": "/lang/datatables_spanish.json"
        }
    });
} );

</script>

{% endblock %}