{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/valoresindicadores.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-select.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

  
    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
     <script src="{{ asset('js/bootstrap-select.min.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container">
      <div class="row">

        <ol class="breadcrumb">
          <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
          <li><a href="{{ path('admin_crud_valoresindicadores_preload') }}">Precarga de valores indicadores</a></li>
          <li class="active">Carga de valores indicadores</a></li>
        </ol>

        <div class="page-header">
          <h1>Carga valores indicadores <small>{{indicador_desc}}</small></h1>
        </div>
      <div class="alert alert-info" class="col-md-3" role="alert"><b>Período:</b> {{fecha}}.
        <span>
          <b>Desglozando por:</b>
        {{ desgloces|join(', ') }}.
        </span>
        <span>
          <b>Cruzar etiquetas:</b> {{ cruzado ? "Si" : "No"}}.
        </span>
        <span>
          <b>Ámbito indicador:</b> {{indicador_ambito}}
        </span>
      </div>
    </div>
      <div id="panelList">
        <div class=".panel"></div>
      </div>
</div>


<script id="panelListWrapper" type="text/template">
<nav id="navbar-panel-create" class="navbar row">
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="">
      <ul class="nav navbar-nav">
         <% if (this.collection.isRefLeft()) { %>
        <button id="newDataLoader" type="button" class="btn btn-default navbar-btn"><i class="fa fa-plus"></i>  Agregar ficha</button>
        <% }  %>
        <button id="saveDataLoaders" type="button" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-save"></span>  Guardar todos</button>
      </ul>
            <% if (this.collection.ambito_indicador == 'D') { %>
          <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
              <select id="filterCardsSelect">
                <%= this.collection.getFilterOptions() %>
              </select>
          </div>
        </form>
        <p class="navbar-text pull-right">Filtrar por provincia: </p>
          <% }  %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">

</div>
<div id="dataLoadersWrapper" class="row">
</div>
</script>


<script id="panelLoader" type="text/template">
    <div class="panel panel-primary col-md-3 col-sm-4 panelDataLoader pull-left">
    <% if (collection.filterParentID == model.ref_geografica_parent_id ) { %>
        <div class="panel-heading clearfix">
          <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Carga de datos</h4>
        <div class="btn-group pull-right">
          <a class="btn btn-sm btn-danger btn-sm deleteObject"><i class="fa fa-trash"></i></a>
        </div>
        </div>
        <div class="panel-body">
          <form>
          <div class="form-group">
          <label>Ref. geog.</label>
          <div>
            <select class="form-control refGeogSelect" <% if (model.is_preloaded) { %>disabled="disabled"<% }  %>>
            <% _.each( collection.refGeograficas, function( ref, i){ %>
                <% if ( i == model.id_ref_geografica ){ %>
                  <option value="<%= i %>" selected>
                  <%= ref.desc %>
                  </option>
                <%  } else if (!ref.used && (ref.parent == collection.filterParentID)){ %>
                    <option value="<%= i %>">
                  <%= ref.desc %>
                  </option>
                <% } %>
            <% }); %>
            </select>
            </div>
          </div>
          <% _.each( etiquetas, function( etiquetas_id, i){ %>
            <% id_formatted = parent.formatEtiquetaID(etiquetas_id) %>
          <div class="form-group">
            <label><%= parent.contructLabelEtiqueta(etiquetas_id) %></label>
            <div>
              <input type="number" step="{{step}}" max="100" min="0" class="form-control etiquetaInput" data-etiqueta-id="<%= id_formatted %>" value="<%= model.valor_etiquetas[id_formatted] %>">
            </div>
          </div>
           <% }); %>
              <a href="#" data-toggle="tooltip" title="<%= this.getTooltipInfo() %>">+Info</a>          
        </div>
        </form>
        </div> <!-- CIERRO PANEL BODY -->
    </div>
  <%
    collection.refGeograficas[model.id_ref_geografica].used = true;
  %>
  <% } %>
</script>

<script type="text/javascript">

    $(document).ready(function() {

      function cartesianProductOf() {
          return _.reduce(arguments, function(a, b) {
              return _.flatten(_.map(a, function(x) {
                  return _.map(b, function(y) {
                      return x.concat([y]);
                  });
              }), true);
          }, [ [] ]);
      };


      // Recibe:
      //   [
      //       [ {"id":1, "desc":"Femenino"},
      //         {"id":2, "desc":"Masculino"}
      //         ],
      //       [
      //         {"id":3, "desc":"Amarillo"},
      //         {"id":4, "desc":"Morocho"},
      //         {"id":5, "desc":"Aria"},
      //         {"id":6, "desc":"Mestizo"},
      //       ]
      //   ] 
      //    y retorna un array con 2 valores (una lista de listas y un diccionario)
      //   [  
      //       [
      //         [1,2],
      //         [3,4,5,6]
      //       ],
      //       {
      //          1:"Femenino",
      //          2:"Masculino"
      //          3:"Amarillo"
      //            ...
      //        }
      //    ]
      function getEtiquetasData(etiquetasDesgloces){
        var etiquetasGroup = [];
        var etiquetasMetadata = {};
        $.each(etiquetasDesgloces, function( i, etiquetas_list ) {
            var tmpList = [];
            $.each(etiquetas_list, function( j, etiqueta_data ) {
                tmpList.push(etiqueta_data.id_etiqueta);
                etiquetasMetadata[etiqueta_data.id_etiqueta] = etiqueta_data.desc;
            });
            etiquetasGroup.push(tmpList);
        });
        return [etiquetasGroup,etiquetasMetadata];
      }


      function getExhaustiveList(etiquetas){
        var list = [];
        for (e in etiquetas){
          for (i in etiquetas[e]){
            list.push([etiquetas[e][i]]);
          }
        }
        return list;
      }


      function getEtiquetasList(etiquetasData, cruzado){
        if (cruzado){
          return cartesianProductOf.apply(this, etiquetasData);
        } else {
          return getExhaustiveList(etiquetasData);          
        }
      }

        var indicador_id = {{ indicador_id|json_encode|raw}};
        var indicador_ambito = {{indicador_ambito|json_encode|raw}}
    	  var desgloces = {{ desgloces|json_encode|raw}};
        var etiquetasDesgloces = {{ etiquetas_desgloces|json_encode|raw}};
        var etiquetasData = getEtiquetasData(etiquetasDesgloces);
        var cruzado = {{cruzado|json_encode|raw}};
        var etiquetas = getEtiquetasList(etiquetasData[0], cruzado);
        var etiquetasMetadata = etiquetasData[1];
        var fecha = {{ fecha|json_encode|raw}};
        var valoresEtiquetas = {{ valores_indicadores|json_encode|raw}};
        var api_urls = {{ api_urls|json_encode|raw}};
         // lista de todas las referencias geograficas disponibles
        var refGeograficasList =  {{ ref_geograficas|json_encode|raw}};
        var refGeograficasFilters = {{filter_ref_geograficas|json_encode|raw}};
        valoresEtiquetas = _.groupBy(valoresEtiquetas, 'id_ref_geografica');

        var refGeograficaCollection = null;
        var refGeograficaPanelList = null;

        /////////////////// MODELOS //////////////////////////////7

        // Contiene los datos asociados a una referencia geografica
        // El objeto tendra un id de referencia geografica, y luego, una lista
        // de tuplas (id_etiqueta, valor), con los valores de las etiquetas correspondientes (nulo si no existe)
        var RefGeograficaData = Backbone.Model.extend({
        	defaults: {
        		'id_ref_geografica': null,
            'ref_geografica_parent_id':null,
        		'valor_etiquetas':{},
            'is_preloaded':false,
			     },
		    });

        // Coleccion de RefGeograficaData
		var RefGeograficaCollection = Backbone.Collection.extend({
  			model: RefGeograficaData,
        initialize: function(models, options) {
          options || (options = {});
          if (options.refGeograficas) {
              this.refGeograficas = options.refGeograficas;
              this.refGeograficasFilters = options.refGeograficasFilters;
              this.fecha = options.fecha;
              this.id_indicador = options.id_indicador;
              this.ambito_indicador = options.ambito_indicador;
              this.api_urls = options.api_urls;
              this.filterParentID = options.filterParentID;
          };
        },
        isRefLeft: function(){
          if (this.countRefsUsed() == Object.keys(this.refGeograficas).length){
            return false;
          }
          return true;
        },
        countRefsUsed: function(){
          var count = 0;
          $.each(this.refGeograficas, function(i){
              if (this.used){
                count += 1;
              }
          });
          return count;
        },
        getFilterOptions: function(){
            var options = "";
            for (var r in this.refGeograficasFilters){
                var selected = (this.refGeograficasFilters[r].id == this.filterParentID) ? "selected" : "";
                options += "<option value='"+this.refGeograficasFilters[r].id+"' "+selected+">"+this.refGeograficasFilters[r].name+"</option>";
            }
            return options;
        }
		});

		///////////////////// VISTAS //////////////////////////////////7


    var RefGeograficaPanelList = Backbone.View.extend({
            el: '#panelList',
            template: _.template($('#panelListWrapper').html()),
            events: {
              'click #newDataLoader': 'addNewDataLoader',
              'click #saveDataLoaders': 'saveDataLoaders',
            },
            initialize: function(options){
                this.etiquetas = options.etiquetas;
                this.etiquetas_metadata = options.etiquetas_metadata;
                this.refGeograficas = options.refGeograficasList;
                this.refGeograficasFilters = options.refGeograficasFilters;
                _.bindAll(this, "renderPanel");
                this.render();
            },
            renderPanel: function(model){
                if (model.get('ref_geografica_parent_id') == this.collection.filterParentID){
                  var panelView = new RefGeograficaPanel({model: model, etiquetas: this.etiquetas,refGeograficas: this.refGeograficas, parent:this});
                  panelView.render();
                  $('#dataLoadersWrapper').prepend(panelView.el);
              }
            },
            render: function(){
                var that = this;
                this.updateRefsUsed();
                this.$el.html( this.template({collection: this.collection}));
                this.collection.each(this.renderPanel);
                $('[data-toggle="tooltip"]').tooltip({html: true}); 
                $('#filterCardsSelect').selectpicker({
                  noneSelectedText: 'Filtrar por provincia'
                });

              $('#filterCardsSelect').on('change', function() {
              //that.applyFilter(this.value);
                  if (this.value != -1){
                    refGeograficaCollection.filterParentID = this.value;
                    refGeograficaPanelList.render();
                    //that.collection.each(that.renderPanel);
                  }
              })                      
            },
            getNextUnusedRef: function(){
              var refID = null;
              var that = this;
                $.each(this.refGeograficas, function(index, value) {
                  if (!value.used && (value.parent == that.collection.filterParentID)){
                    refID = index;
                    return;
                  }
                });
                return refID;
            },
            addNewDataLoader: function(){
              var refID = this.getNextUnusedRef();
              if (refID != null){
                var loader = new RefGeograficaData({id_ref_geografica:refID, is_preloaded:false, valor_etiquetas:{}, ref_geografica_parent_id: this.refGeograficas[refID].parent});
                this.collection.add(loader);
                this.render();
              }
            },
            updateRefsUsed:function(){
              var that = this;
                this.collection.each(function(model){
                    that.collection.refGeograficas[model.get('id_ref_geografica')].used = true;
                });
            },
            saveDataLoaders: function(){
              var that = this;
              var data = this.prepareDataToSave(this.collection.toJSON());
              var url = this.collection.api_urls.edit;
              $.ajax(url,{
                  'data': JSON.stringify(data),
                  'type': 'POST',
                  'processData': false,
                  'contentType': 'application/json',
                   success: function(data) {
                      if (data.success){
                        alert("Valores guardados con éxito");
                        that.saveSuccessCallback(data);
                      } else {
                        alert("NO ha sido posible guardar los valores");
                      }
                      //location.reload();
                  },
                  error: function(data) {
                    alert("ERROR! Ocurrió un error mientras se intentaban guardar los datos");
                  },
              });
            },
            prepareDataToSave: function(models){
                var saveObjects = {"fecha":this.collection.fecha, "id_indicador":this.collection.id_indicador,"objects":{}};
                $.each(models, function(i, models_ref_geografica){
                        saveObjects.objects[models_ref_geografica.id_ref_geografica] = [];
                        $.each(models_ref_geografica.valor_etiquetas, function(id_etiqueta, etiqueta_value){
                          var tmpData = {
                            'id_etiqueta': id_etiqueta,
                            'value': etiqueta_value,
                          }
                          saveObjects.objects[models_ref_geografica.id_ref_geografica].push(tmpData);
                        });
                });
                return saveObjects;
            },
            saveSuccessCallback: function(data){ // ejecutar cuando se han guardado con éxito los valores
                this.collection.each(function(model){
                  if (Object.keys(model.get('valor_etiquetas')).length){
                    model.set("is_preloaded", true);
                    model.set("user",data.user);
                    model.set("dateModif",data.dateModif);
                  }
                });
                this.render();
            },
            deleteDataLoaders:function(models){
                var data = this.prepareDataToDelete(models);
                var that = this;
                var url = this.collection.api_urls.delete;
                $.ajax(url,{
                  'data': JSON.stringify(data),
                  'type': 'POST',
                  'processData': false,
                  'contentType': 'application/json',
                   success: function(data) {
                      if (data.success){
                        alert("Valores eliminados con éxito");
                        that.deleteSuccessCallback(models);
                      } else {
                        alert("NO ha sido posible eliminar los valores");
                      }
                      //location.reload();
                  },
                  error: function(data) {
                    alert("ERROR! Ocurrió un error mientras se intentaban borrar los datos");
                  },
              });
            },
            prepareDataToDelete: function(models){
                var deleteObjects = {"fecha":this.collection.fecha, "id_indicador":this.collection.id_indicador,"objects":[]};
                  $.each(models, function(i){
                        deleteObjects["objects"].push(models[i].get('id_ref_geografica'));
                  });
                return deleteObjects;
            },
            deleteSuccessCallback: function(models){
              $.each(models, function(i){
                  var modelObject = models[i];
                  this.collection.refGeograficas[modelObject.get("id_ref_geografica")].used = false;
                  this.collection.remove(modelObject);
              });
              this.render();
            },
            contructLabelEtiqueta: function(etiquetasIDList){
              var labels = [];
              var that = this;
              $.each(etiquetasIDList, function(i, et_id){
                labels.push(that.etiquetas_metadata[et_id]);                        
              });
              return labels.join("/");
            },
            formatEtiquetaID: function(etiquetasIDList){
              return etiquetasIDList.join(":");
            }
        })


		var RefGeograficaPanel = Backbone.View.extend({
      //el: '.panel',
    tagName: "div",
    className: "panelLoader",
		template: _.template($('#panelLoader').html()),
    events: {
      "change .refGeogSelect": "refSelected",
      "click .deleteObject": "deleteObject",
      "change .etiquetaInput": "etiquetaValueChange"
    },
    etiquetaValueChange: function(event){
      var etiquetaId = $(event.target).data('etiqueta-id');
      var value = event.target.value;
      var modelEtiquetas = this.model.get('valor_etiquetas');
      modelEtiquetas[etiquetaId] = value;
      this.model.set('valoresEtiquetas',modelEtiquetas);
    },
    deleteObject: function(){
      var models = [this.model];
      this.parent.deleteDataLoaders(models);
    },
    refSelected: function(event){
        var oldRef = parseInt(this.model.get('id_ref_geografica'));
        var newRef = event.target.value;
        this.model.set('id_ref_geografica',event.target.value);
        this.parent.collection.refGeograficas[oldRef].used = false;
        this.parent.collection.refGeograficas[newRef].used = true;
    },
      initialize: function(options){
        this.parent = options.parent;
        this.etiquetas = options.etiquetas;
        this.refGeograficas = options.refGeograficas;
        this.filterParentID = options.filterParentID;
      },
      render: function(){
        this.$el.html( this.template({
          parent: this.parent,
          collection:this.parent.collection,
          model:this.model.toJSON(),
          etiquetas:this.etiquetas
        }));
      },
      getTooltipInfo: function(){
        if (this.model.get("user")){
          return "<b>usuario</b>: "+this.model.get("user")+"<br /><b>modif.</b>: "+this.model.get("dateModif");
        }
        return "";
      } 
		})


		//////////////////////////////////////////////////////////////////

		function bindRefGeograficaData(refGeograficaCollection, refGeograficasList){
			$.each(valoresEtiquetas, function(idRefGeografica, valoresIndicadorValues) {
    			var ref = new RefGeograficaData({id_ref_geografica:idRefGeografica,is_preloaded:true, ref_geografica_parent_id:refGeograficasList[idRefGeografica].parent});
          refGeograficasList[idRefGeografica].used = true;
    			var refData = {};
    			$.each(valoresIndicadorValues, function(index, data) {
    				refData[data.id_etiqueta] =  data.valor;
				});
				ref.set('valor_etiquetas',refData);
        ref.set('user',valoresIndicadorValues[0].user);
        ref.set('dateModif',valoresIndicadorValues[0].dateModif);
				refGeograficaCollection.add(ref);
    		});
		}

  function initLoad(){
    var filterParentDefault = (indicador_ambito == 'D') ? refGeograficasFilters[0].id : 0 ;
    refGeograficaCollection = new RefGeograficaCollection([],{
            refGeograficas: refGeograficasList,
            refGeograficasFilters: refGeograficasFilters,
            filterParentID: filterParentDefault,
            fecha: fecha,
            id_indicador: indicador_id,
            ambito_indicador:indicador_ambito,
            api_urls: api_urls
      });
    bindRefGeograficaData(refGeograficaCollection, refGeograficasList);
    refGeograficaPanelList = new RefGeograficaPanelList({collection:refGeograficaCollection, etiquetas: etiquetas, etiquetas_metadata: etiquetasMetadata, refGeograficasList: refGeograficasList})
    refGeograficaPanelList.render();
  }


		initLoad();




    });

</script>

{% endblock %}