{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container">
<div class="row">
    <div class="page-header">
          <h1>Carga de valores indicadores <small></small></h1>
        </div>
</div>
<div class="row" class="col-md-10">
<form id="preloaddataForm" action="action_page.php" method="post">
        <div id="selects"></div>
    <div class="form-group">
        <div class="input-group date">
        <label>Fecha</label>
          <input id="valorIndicadorDate" type="text" class="form-control">
        </div>
    </div>
     <button type="submit" class="btn btn-success">
 <span class="glyphicon glyphicon-next"></span> Siguiente
</button>
</form>


</div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        $('#valorIndicadorDate').datepicker({
            format: "mm/yyyy",
            minViewMode: 1,
            daysOfWeekDisabled: "1,2,3,4,5,6",
            autoclose: true
        });

        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};
        var indicadores = {{ indicadores|json_encode|raw}};

    	var model = new ThreeSelectData({
    		'objetivos': objetivos,
    		'metas': metas,
    		'indicadores': indicadores
    	});
    	var view = new ThreeSelectView({el: $("#selects") ,model:model});

        $('#preloaddataForm').submit(function() {
            alert("sub");
    // get all the inputs into an array.
    var $inputs = $('#preloaddataForm :input');

    // not sure if you wanted this, but I thought I'd add it.
    // get an associative array of just the values.
    var values = {};
    $inputs.each(function() {
        values[this.name] = $(this).val();
    });

});



    });
</script>

{% endblock %}