{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objetivos list</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objetivo in objetivos %}
            <tr>
                <td><a href="{{ path('admin_crud_objetivos_show', { 'id': objetivo.id }) }}">{{ objetivo.descripcion }}</a></td>
                <td>{{ objetivo.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_crud_objetivos_show', { 'id': objetivo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_crud_objetivos_edit', { 'id': objetivo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_crud_objetivos_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
