{% trans_default_domain 'FOSUserBundle' %}
<ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
			<li><a href="{{ path('admin_users_index') }}">Administrar usuarios</a></li>
        {% endif %}
        <li class="active">Perfil de usuario</a></li>
    </ol>

	<div class="page-header">
		<h2>Perfil de <span style="color:#034EA2">'{{ user.username }}'</div></h2>
	</div>


	<div class="fos_user_user_show">
		<dl class="dl-horizontal">
	  		<dt>{{ 'Usuario'|trans }}</dt>
	  		<dd> {{ user.username }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Email'|trans }}</dt>
	  		<dd> {{ user.email }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Rol'|trans }}</dt>
	  		<dd> {{ roles_map[user.roles[0]]}}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Apellido'|trans }}</dt>
	  		<dd> {{ user.apellido }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Nombre'|trans }}</dt>
	  		<dd> {{ user.nombre }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Domicilio'|trans }}</dt>
	  		<dd> {{ user.domicilio }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Localidad'|trans }}</dt>
	  		<dd> {{ user.localidad }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Provincia'|trans }}</dt>
	  		<dd> {{ user.provincia }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Teléfono'|trans }}</dt>
	  		<dd> {{ user.telefono }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Dependencia'|trans }}</dt>
	  		<dd> {{ user.dependencia }}</dd>
		</dl>
		<dl class="dl-horizontal">
	  		<dt>{{ 'Observaciones'|trans }}</dt>
	  		<dd> {{ user.observaciones}}</dd>
		</dl>
	</div>

	<hr>
	<a href="{{ path('fos_user_profile_edit', {'id': user.id}) }}" class="btn btn-warning col-md-offset-2" title="Editar" href=""><i class="fa fa-edit fa-fw" aria-hidden="true"></i> Editar perfil</a>
	<a href="{{ path('fos_user_resetting_request', {'id': user.id})}}" class="btn btn-info" title="Cambiar contraseña" href=""><i class="fa fa fa-unlock fa-fw" aria-hidden="true"></i> Cambiar contraseña</a>

