{% extends 'base.html.twig' %}

{% block body %}
    <h1>Indicadores list</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Valmin</th>
                <th>Valmax</th>
                <th>Ambito</th>
                <th>Visiblenacional</th>
                <th>Visibleprovincial</th>
                <th>Visiblemunicipal</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for indicadore in indicadores %}
            <tr>
                <td><a href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}">{{ indicadore.descripcion }}</a></td>
                <td>{{ indicadore.tipo }}</td>
                <td>{{ indicadore.valmin }}</td>
                <td>{{ indicadore.valmax }}</td>
                <td>{{ indicadore.ambito }}</td>
                <td>{{ indicadore.visiblenacional }}</td>
                <td>{{ indicadore.visibleprovincial }}</td>
                <td>{{ indicadore.visiblemunicipal }}</td>
                <td>{{ indicadore.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_crud_indicadores_edit', { 'id': indicadore.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_crud_indicadores_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
