{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/globalutils.js') }}"></script>
{% endblock %}


{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_metas_index') }}">Metas</a></li>
        <li class="active">Edición de meta</a></li>
    </ol>
    <div class="page-header">
          <h2>Editar Meta</h2>
    </div>


    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <hr>
        <input class="col-md-1 col-md-offset-2 btn btn-success option-btn" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

<div class="row">
            {{ form_start(delete_form) }}
                <input class="col-md-1 btn btn-danger option-btn" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
</div>


<script type="text/javascript">
    $(document).ready(function() {

        var api_urls = {{ api_urls|json_encode|raw}};

        $('#metas_fkidobjetivo').on('change', function(){
            getNextMetaCode(this.value);
        });



        function getNextMetaCode(idObjetivo){
            appendSpinner($('#metas_codigo').parent().parent());
            var url = api_urls.get_next_meta_code;
            var data = {'objetivo_id':idObjetivo};
            $.ajax(url,{
                  'data': JSON.stringify(data),
                  'type': 'POST',
                  'processData': false,
                  'contentType': 'application/json',
                   success: function(data) {
                        if (data.next_meta_code){
                            $('#metas_codigo').val(data.next_meta_code);
                        }
                   },
                   error: function(data) {
                        
                  },
                  complete: function(data){
                    removeSpinner();
                  }
              });
        }
        
    });
</script>


{% endblock %}
