{% extends 'base_panel_users.html.twig' %}

{% block panel_body %}
    {% if  show_breadcrumbs is defined and show_breadcrumbs == true %}     
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_metas_index') }}">Metas</a></li>
        <li class="active">Detalle de meta</a></li>
    </ol>
    {% endif %}
      <div class="page-header">
          <h2>Detalle de Meta</h2>
    </div>

<dl class="dl-horizontal">
  <dt>Código</dt>
  <dd>{{ meta.fkidobjetivo.codigo}}.{{ meta.codigo }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Descripción</dt>
  <dd>{{ meta.descripcion }}</dd>
</dl>

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_metas_index') }}">Volver atrás</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_metas_edit', { 'id': meta.id }) }}">Editar</a>
            {% endif %}

</div>
{% endblock %}
