{% extends 'base.html.twig' %}

{% block body %}
        <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_metas_index') }}">Metas</a></li>
        <li class="active">Detalle de meta</a></li>
    </ol>
      <div class="page-header">
          <h1>Detalle de Meta</h1>
    </div>

<dl class="dl-horizontal">
  <dt>Código</dt>
  <dd>{{ meta.fkidobjetivo.codigo}}.{{ meta.codigo }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Descripción</dt>
  <dd>{{ meta.descripcion }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>Ámbito</dt>
  <dd>{{ meta.ambito }}</dd>
</dl>

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_metas_index') }}">Volver atrás</a>
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_metas_edit', { 'id': meta.id }) }}">Editar</a>
            {{ form_start(delete_form) }}
                <input class="col-md-1 btn btn-danger option-btn" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
</div>
{% endblock %}
