{% extends 'base_panel_users.html.twig' %}

{% block panel_body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_desgloces_index') }}">Desgloses</a></li>
        <li class="active">Detalle de desglose</a></li>
    </ol>
    <div class="page-header">
          <h2>Detalle de Desglose</h2>
    </div>

<dl class="dl-horizontal">
  <dt>Descripcion</dt>
  <dd>{{ desgloce.descripcion }}</dd>
</dl>


    <div class="row">
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_desgloces_index') }}">Volver</a>
            {% if is_granted('ROLE_ADMIN') %}
            <a class="col-md-1 btn btn-primary option-btn"  href="{{ path('admin_crud_desgloces_edit', { 'id': desgloce.id }) }}">Editar</a>
            {{ form_start(delete_form) }}

                <input class="btn btn-danger col-md-1 option-btn" type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
            {% endif %}

</div>

<br><br><br><br><br><br><br><br>

{% endblock %}
