{% extends 'base.html.twig' %}

{% block body %}
    
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Desgloces indicador</a></li>
    </ol>

    <div class="page-header">
          <h2>Desgloces por Indicador <small>{{ nombre_indicador }}</small></h2>
    </div>

    <div class="alert alert-warning" class="col-md-3" role="alert"><i class="fa fa-warning pull-left"></i>Por favor, defina los desgloses permitidos para el nuevo indicador
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input  class="col-md-1 btn btn-success option-btn"  type="submit" value="Crear" />
    {{ form_end(edit_form) }}

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_index') }}">Volver</a>
</div>

{% endblock %}
