{% extends 'base_panel_users.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
    <script src="{{ asset('js/HighlightDates.js') }}"></script>
    <script src="{{ asset('js/globalutils.js') }}"></script>
{% endblock %}

{% block _indicadores_documentpath_widget %}
    <div class="text_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block panel_body %}
{% if  show_breadcrumbs is defined and show_breadcrumbs == true %} 
<ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Edición de indicador</a></li>
</ol>
{% endif %}
     <div class="page-header">
          <h2>Editar Indicador</h2>
    </div>
    {{ form_start(edit_form) }}

        <div class="alert alert-info well alertFormBox">
            <div>
               <div id="selects"></div>
            </div>

            {{ form_row(edit_form.codigo) }}
            {{ form_row(edit_form.descripcion) }}
        </div>

        <div class="alert alert-info well alertFormBox">

        <div class="form-group">
            
            <label class="col-sm-2 control-label required subLabel">Ámbito</label>
            <div class="   col-sm-1">
                <div id="indicadores_ambito">
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_ambito_0" name="indicadores[ambito]" required="required" {{edit_form.vars.value.ambito == "N" ? "checked='checked'": ""}}  {{scopes_enabled ? : "disabled='disabled'"}} value="N"> Nacional</label>
                    </div>
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_ambito_1" name="indicadores[ambito]" required="required" {{edit_form.vars.value.ambito == "P" ? "checked='checked'": ""}} {{scopes_enabled ? : "disabled='disabled'"}} value="P"> Provincial</label>
                    </div>
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_ambito_2" name="indicadores[ambito]" required="required" {{edit_form.vars.value.ambito == "D" ? "checked='checked'": ""}} {{scopes_enabled ? : "disabled='disabled'"}} value="D"> Departamental</label>
                    </div>
                </div>
            </div>

            <label class="col-sm-2 control-label required subLabel">Tipo</label>
            <div class="   col-sm-1">
                <div id="indicadores_tipo">
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_tipo_0" name="indicadores[tipo]" required="required" {{edit_form.vars.value.tipo == "porcentual" ? "checked='checked'": ""}} value="porcentual"> Porcentual</label>
                    </div>
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_tipo_1" name="indicadores[tipo]" required="required" {{edit_form.vars.value.tipo == "entero" ? "checked='checked'": ""}} value="entero"> Entero</label>
                    </div>
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_tipo_2" name="indicadores[tipo]" required="required" {{edit_form.vars.value.tipo == "real" ? "checked='checked'": ""}} value="real"> Real</label>
                    </div>
                </div>
            </div>

            
            <label class="col-sm-2 control-label required">Visible</label>
            <div class="  col-sm-1">
                <div id="indicadores_visible">
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_visible_0" name="indicadores[visible]" required="required" {{edit_form.vars.value.visible  ? "checked='checked'": ""}} value="1"> Si</label>
                    </div>
                    <div class="radio">
                        <label class="required"><input type="radio" id="indicadores_visible_1" name="indicadores[visible]" required="required" {{edit_form.vars.value.visible  ? "": "checked='checked'"}} value="0"> No</label>
                    </div>
                </div>
            </div>

        </div>

        {{ form_row(edit_form.valmin) }}
        {{ form_row(edit_form.valmax) }}

        </div>


        <div class="alert alert-info well alertFormBox">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="indicadores_fechametaintermedia">Año meta intermedia</label>
                <div class="col-sm-2 expected-value-datepicker "><input type="text" id="indicadores_fechametaintermedia" name="indicadores[fechametaintermedia]" class="col-sm-2 expected-value-datepicker form-control" value="{{edit_form.vars.value.fechametaintermedia}}">
                </div>

                <label class="col-sm-2 control-label" for="indicadores_valoresperadometaintermedia">Valor esperado meta intermedia</label>
                <div class="col-sm-2 expected-value-input input-user-entry"><input type="text" id="indicadores_valoresperadometaintermedia" name="indicadores[valoresperadometaintermedia]" class="col-sm-2 expected-value-input input-user-entry form-control" value="{{edit_form.vars.value.valoresperadometaintermedia}}" step="1">
                </div>

            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="indicadores_fechametafinal">Año meta final</label>
                <div class="col-sm-2 expected-value-datepicker"><input type="text" id="indicadores_fechametafinal" name="indicadores[fechametafinal]" class="col-sm-2 expected-value-datepicker form-control" value="{{edit_form.vars.value.fechametafinal}}"></div>

                <label class="col-sm-2 control-label" for="indicadores_valoresperadometafinal">Valor esperado meta final</label>
                <div class="col-sm-2 expected-value-input input-user-entry"><input type="text" id="indicadores_valoresperadometafinal" name="indicadores[valoresperadometafinal]" class="col-sm-2 expected-value-input input-user-entry form-control" value="{{edit_form.vars.value.valoresperadometafinal}}" step="1"></div>

            </div>
        </div>

        <div class="alert alert-info well alertFormBox">
           <div id="highlightDatesControl"></div>
        </div>

       

        
        <div class="alert alert-info well alertFormBox">
            {{ form_row(edit_form.documentpath) }}
                    {% if document_path_string %}
         <a class="btn btn-warning col-md-offset-2" target="_blank" title="Ver documento técnico" href="{{ asset('uploads/indicadores/' ~ document_path_string) }}"><i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>  Ver documento técnico existente</a>
         {% endif %}
        </div>
     
    

        <hr>
        {{ form_row(edit_form.fkidmeta) }}
        {{ form_row(edit_form.fechasdestacadas) }}
        {{ form_row(edit_form.last_code_used) }}
        {{ form_widget(edit_form._token) }}

        <input class="col-md-1 col-md-offset-2 btn btn-success option-btn" type="submit" value="Guardar" />
    </form>

<div class="row">
{{ form_start(delete_form) }}
    <button id="btnInitIndicadorDelete" class="col-md-1 btn btn-danger option-btn" type="button" value="Eliminar">Eliminar</button>
{{ form_end(delete_form) }}
</div>


<!-- Modal -->
<div class="modal fade" id="deleteIndicadorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle" style="color:red;"></i>   ATENCIÓN! Está a punto de borrar un Indicador</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">Usted está a punto de borrar un indicador. Esta operación borrará TODOS los valores y configuraciones asociadas al mismo.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="confirmDeleteIndicador" type="button" class="btn btn-danger">Eliminar indicador</button>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
    $( document ).ready(function() {

        var api_urls = {{ api_urls|json_encode|raw}};

        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var modelThreeSelect = null;
        var viewThreeSelect = null;

        var modelHighlightDates = null;
        var viewHighlightDates = null;


        function addThreeSelectControls(){
            var objetivo_selected = {{indicadore.fkIdMeta.fkidobjetivo.id}}
            var meta_selected =  {{indicadore.fkIdMeta.id}}
            modelThreeSelect = new ThreeSelectData({
                'objetivo_selected': objetivo_selected,
                'meta_selected': meta_selected,
                'objetivos': objetivos,
                'metas': metas,
            });
            viewThreeSelect = new ThreeSelectView({el: $("#selects"), model:modelThreeSelect,
                metaChangeCallback: getNextIndicadorCode
            });
        }

        // Agrego al formulario controles para agregar fechas destacadas
        function addHiglightedDatesControls(){
            var highlightDatesSelected = {{indicadore.fechasdestacadas|json_encode|raw}};
            var dates = (highlightDatesSelected) ? highlightDatesSelected.split(";") : [] ;
            modelHighlightDates = new HighlightDates({dates: dates});
            viewHighlightDates = new HighlightDatesView({el: $("#highlightDatesControl"), model:modelHighlightDates});
        }


        function getNextIndicadorCode(){
            var idMeta = $('#three_select_meta').val();
            var url = api_urls.get_next_indicador_code;
            var data = {'meta_id':idMeta};
            appendSpinner($('#indicadores_codigo').parent().parent());
            $.ajax(url,{
                  'data': JSON.stringify(data),
                  'type': 'POST',
                  'processData': false,
                  'contentType': 'application/json',
                   success: function(data) {
                        if (data.next_indicador_code){
                            $('#indicadores_codigo').val(data.next_indicador_code);
                        }
                   },
                   error: function(data) {
                        
                  },
                  complete: function(data){
                    removeSpinner();
                  }
              });
        }

        function indicadorTypeHasChanged(newType){
            if (newType == 'entero'){
                $('.input-user-entry').each(function(index){
                    if ($(this).val()){
                      $(this).val(parseInt($(this).val()));  
                  }
                })
            }
        }

        addThreeSelectControls();
        addHiglightedDatesControls();

        $('input.expected-value-datepicker').datepicker({
            format: 'yyyy',
            minViewMode: 2,
            autoclose: true,
        });

        $('form[name="indicadores"]').submit(function() {
            // Seteo fechas destacadas en el formulario
            console.log(modelHighlightDates.getFormattedDates());
            $('#indicadores_fechasdestacadas').val(modelHighlightDates.getFormattedDates());
        });

        $(':input[name="indicadores[tipo]"]').on('click', function(){
            indicadorTypeHasChanged(this.value);
        })

        
        $('.range-input-entry').on('change', function(){
            $(this).val(Math.floor($(this).val()));
        })

        
        $(".expected-value-input").change( function() {
            if ($(':input[name="indicadores[tipo]"]:checked').val() == 'entero'){
                $(this).val(parseInt($(this).val()));
            }
        })

        
        $('#btnInitIndicadorDelete').on('click', function(){
            $('#deleteIndicadorModal').modal();
            //event.preventDefault();
        });

        $('#confirmDeleteIndicador').on('click', function(){
            $('form[name="form"]').submit();
        });

        /*$('#three_select_meta').on('change', function(){
            alert('change');
            getNextIndicadorCode();
        });*/
        
    });
</script>

{% endblock %}


