{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
    <script src="{{ asset('js/HighlightDates.js') }}"></script>
    <script src="{{ asset('js/globalutils.js') }}"></script>
{% endblock %}

{% block _indicadores_documentpath_widget %}
    <div class="text_widget">
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Edición de indicador</a></li>
</ol>

     <div class="page-header">
          <h2>Editar Indicador</h2>
    </div>

    {{ form_start(edit_form) }}

        <div>
           <div id="selects"></div>
        </div>

        {{ form_widget(edit_form) }}

        {% if document_path_string %}
         <a class="btn btn-warning col-md-offset-2" target="_blank" title="Ver documento técnico" href="{{ asset('uploads/indicadores/' ~ document_path_string) }}"><i class="fa fa-file-pdf-o fa-fw" aria-hidden="true"></i>  Ver documento técnico existente</a>
         {% endif %}

        <div style="margin-top:40px;">
           <div id="highlightDatesControl"></div>
        </div>

        <hr>

        <input class="col-md-1 col-md-offset-2 btn btn-success option-btn" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

<div class="row">
{{ form_start(delete_form) }}
    <input class="col-md-1 btn btn-danger option-btn" type="submit" value="Eliminar">
{{ form_end(delete_form) }}
</div>

<script type="text/javascript">
    $( document ).ready(function() {

        var api_urls = {{ api_urls|json_encode|raw}};

        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var modelThreeSelect = null;
        var viewThreeSelect = null;

        var modelHighlightDates = null;
        var viewHighlightDates = null;


        function addThreeSelectControls(){
            var objetivo_selected = {{indicadore.fkIdMeta.fkidobjetivo.id}}
            var meta_selected =  {{indicadore.fkIdMeta.id}}
            modelThreeSelect = new ThreeSelectData({
                'objetivo_selected': objetivo_selected,
                'meta_selected': meta_selected,
                'objetivos': objetivos,
                'metas': metas,
            });
            viewThreeSelect = new ThreeSelectView({el: $("#selects"), model:modelThreeSelect,
                metaChangeCallback: getNextIndicadorCode
            });
        }

        // Agrego al formulario controles para agregar fechas destacadas
        function addHiglightedDatesControls(){
            var highlightDatesSelected = {{indicadore.fechasdestacadas|json_encode|raw}};
            var dates = (highlightDatesSelected) ? highlightDatesSelected.split(";") : [] ;
            modelHighlightDates = new HighlightDates({dates: dates});
            viewHighlightDates = new HighlightDatesView({el: $("#highlightDatesControl"), model:modelHighlightDates});
        }


        function getNextIndicadorCode(){
            var idMeta = $('#three_select_meta').val();
            var url = api_urls.get_next_indicador_code;
            var data = {'meta_id':idMeta};
            appendSpinner($('#indicadores_codigo').parent().parent());
            $.ajax(url,{
                  'data': JSON.stringify(data),
                  'type': 'POST',
                  'processData': false,
                  'contentType': 'application/json',
                   success: function(data) {
                        if (data.next_indicador_code){
                            $('#indicadores_codigo').val(data.next_indicador_code);
                        }
                   },
                   error: function(data) {
                        
                  },
                  complete: function(data){
                    removeSpinner();
                  }
              });
        }

        function indicadorTypeHasChanged(newType){
            if (newType == 'entero'){
                $('.input-user-entry').each(function(index){
                    if ($(this).val()){
                      $(this).val(parseInt($(this).val()));  
                  }
                })
            }
        }

        addThreeSelectControls();
        addHiglightedDatesControls();

        $('input.expected-value-datepicker').datepicker({
            format: 'yyyy',
            minViewMode: 2,
            autoclose: true,
        });

        $('form[name="indicadores"]').submit(function() {
            // Seteo fechas destacadas en el formulario
            $('#indicadores_fechasdestacadas').val(modelHighlightDates.getFormattedDates());
        });

        $(':input[name="indicadores[tipo]"]').on('click', function(){
            indicadorTypeHasChanged(this.value);
        })

        
        $('.range-input-entry').on('change', function(){
            $(this).val(Math.floor($(this).val()));
        })

        
        $(".expected-value-input").change( function() {
            if ($(':input[name="indicadores[tipo]"]:checked').val() == 'entero'){
                $(this).val(parseInt($(this).val()));
            }
        })

        /*$('#three_select_meta').on('change', function(){
            alert('change');
            getNextIndicadorCode();
        });*/
        
    });
</script>

{% endblock %}


