{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
    <script src="{{ asset('js/HighlightDates.js') }}"></script>
{% endblock %}

{% block body %}

<ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Edición de indicador</a></li>
</ol>

     <div class="page-header">
          <h1>Editar Indicador</h1>
    </div>

    {{ form_start(edit_form) }}

        <div>
           <div id="selects"></div>
        </div>

        {{ form_widget(edit_form) }}

        <div>
           <div id="highlightDatesControl"></div>
        </div>
        <input class="col-md-1 btn btn-success option-btn" type="submit" value="Editar" />
    {{ form_end(edit_form) }}

<div class="row">
{{ form_start(delete_form) }}
    <input class="col-md-1 btn btn-danger option-btn" type="submit" value="Eliminar">
{{ form_end(delete_form) }}
</div>

<script type="text/javascript">
    $( document ).ready(function() {

        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var modelThreeSelect = null;
        var viewThreeSelect = null;

        var modelHighlightDates = null;
        var viewHighlightDates = null;


        function addThreeSelectControls(){
            var objetivo_selected = {{indicadore.fkIdMeta.fkidobjetivo.id}}
            var meta_selected =  {{indicadore.fkIdMeta.id}}
            modelThreeSelect = new ThreeSelectData({
                'objetivo_selected': objetivo_selected,
                'meta_selected': meta_selected,
                'objetivos': objetivos,
                'metas': metas,
            });
            viewThreeSelect = new ThreeSelectView({el: $("#selects"), model:modelThreeSelect});
        }

        // Agrego al formulario controles para agregar fechas destacadas
        function addHiglightedDatesControls(){
            var highlightDatesSelected = {{indicadore.fechasdestacadas|json_encode|raw}};
            console.log(highlightDatesSelected);
            modelHighlightDates = new HighlightDates({dates:highlightDatesSelected.split(";")});
            viewHighlightDates = new HighlightDatesView({el: $("#highlightDatesControl"), model:modelHighlightDates});
        }

        addThreeSelectControls();
        addHiglightedDatesControls();

        $('form[name="indicadores"]').submit(function() {
            // Seteo fechas destacadas en el formulario
            $('#indicadores_fechasdestacadas').val(modelHighlightDates.getFormattedDates());
        });
        
    });
</script>

{% endblock %}


