{% extends 'base.html.twig' %}

{% block body %}
    <h1>Indicadores edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_crud_indicadores_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>


<script type="text/javascript">
    $("#indicadores_objetivo").on("change", function() 
    { 
        var sel = $(this).val(), 
            $ddl = $("#indicadores_fkidmeta");

        if (!sel) 
        { // if there is no value means first option is selected
            $ddl.find("option").show(); $ddl.val(''); // show all options and reset the value
        } 
        else 
        {
            $ddl.find("option").hide(); // hide all options
            var selObjetivo = document.getElementById("indicadores_objetivo").options;
            var index = document.getElementById("indicadores_objetivo").selectedIndex;
            var otro = selObjetivo[index].value;
            var localMetas = document.getElementById('indicadores_fkidmeta');

            for(var i=0; i < localMetas.length; i++)
            {
                var x = localMetas.options[i].text;
                var this_value = parseInt(x.substr(0,5));

                if (this_value == otro)
                {
                    var this_select_value = localMetas.options[i].value;
                    $ddl.find("option[value*='" + this_select_value + "']").show();
                }

            }
            localMetas.selectedIndex = "0";
        }
    });
</script>

<script type="text/javascript">
    $( document ).ready(function() {
        var sel = $(this).val(), 
            $ddl = $("#indicadores_objetivo");
        var selMeta = document.getElementById("indicadores_fkidmeta").options;
        var index = document.getElementById("indicadores_fkidmeta").selectedIndex;
        var idobj = selMeta[index].text;
        var this_value = parseInt(idobj.substr(0,5));
        $ddl.find("option[value*='" + this_value + "']").prop('selected', true);

        // Filtro la lista de "Metas" de acuerdo al "Objetivo" que corresponde.
        // Este código repite el script de arriba, hay que mejorar la presentación en una función.
        sel = $(this).val(), 
        $ddl = $("#indicadores_fkidmeta");
        $ddl.find("option").hide(); // hide all options
        var selObjetivo = document.getElementById("indicadores_objetivo").options;
        var index = document.getElementById("indicadores_objetivo").selectedIndex;
        var otro = selObjetivo[index].value;
        var localMetas = document.getElementById('indicadores_fkidmeta');
        for(var i=0; i < localMetas.length; i++)
        {
            var x = localMetas.options[i].text;
            var this_value = parseInt(x.substr(0,5));
            if (this_value == otro)
            {
                var this_select_value = localMetas.options[i].value;
                $ddl.find("option[value*='" + this_select_value + "']").show();
            }
        }
    });
</script>

{% endblock %}


