{% extends 'base.html.twig' %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li class="active">Indicadores</a></li>
    </ol>
    <div class="page-header">
          <h1>Lista de Indicadores</h1>
    </div>

<table id="indicadoresTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Tipo</th>
                <th>Valmin</th>
                <th>Valmax</th>
                <th>Ambito</th>
                <th>Visiblenacional</th>
                <th>Visibleprovincial</th>
                <th>Visiblemunicipal</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for indicadore in indicadores %}
            <tr>
                <td>{{ indicadore.id }}</td>
                <td><a href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}">{{ indicadore.descripcion }}</a></td>
                <td>{{ indicadore.tipo }}</td>
                <td>{{ indicadore.valmin }}</td>
                <td>{{ indicadore.valmax }}</td>
                <td>{{ indicadore.ambito }}</td>
                <td>{{ indicadore.visiblenacional ? "Si" : "No"}}</td>
                <td>{{ indicadore.visibleprovincial  ? "Si" : "No"}}</td>
                <td>{{ indicadore.visiblemunicipal  ? "Si" : "No"}}</td>
                <td>
                            <a class="btn btn-primary" title="Ver" href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                            <a class="btn btn-warning" title="Editar" href="{{ path('admin_crud_indicadores_edit', { 'id': indicadore.id }) }}"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success"  href="{{ path('admin_crud_indicadores_new') }}">Crear nuevo indicador</a>


<script type="text/javascript">
    $(document).ready(function() {
    $('#indicadoresTable').DataTable({
         "language": {
            "url": "/lang/datatables_spanish.json"
        }
    });
} );
{% endblock %}
