{% extends 'base_panel_users.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
{% endblock %}

{% block panel_body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li class="active">Indicadores</a></li>
    </ol>

        <div>
           <form class="form-horizontal">
				<div id="selects"></div>
           </form>
           
    </div>

    <div class="page-header">
          <h2>Indicadores</h2>
    </div>

<table id="indicadoresTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>IdMeta</th>
                <th>Id</th>
                <th>Código</th>                
                <th>Descripción</th>
                <th>Tipo</th>
                <th>Valmin</th>
                <th>Valmax</th>
                <th>Ámbito</th>
                <th>Visible</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for indicadore in indicadores %}
            <tr>
                <td>{{ indicadore.fkidmeta.id }}</td>
                <td>{{ indicadore.id }}</td>
                <td>{{indicadore.fkidmeta.fkidobjetivo.codigo}}.{{indicadore.fkidmeta.codigo}}.{{indicadore.codigo}}</td>                
                <td><a href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}">{{ indicadore.descripcion }}</a></td>
                <td>{{ indicadore.tipo }}</td>
                <td>{{ indicadore.valmin }}</td>
                <td>{{ indicadore.valmax }}</td>
                <td>{{ indicadore.ambito }}</td>
                <td>{{ indicadore.visible ? "Si" : "No"}}</td>
                <td>
                            <a class="btn btn-primary" title="Ver" href="{{ path('admin_crud_indicadores_show', { 'id': indicadore.id }) }}"><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-warning" title="Editar" href="{{ path('admin_crud_indicadores_edit', { 'id': indicadore.id }) }}"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
                                <a class="btn btn-info" title="Configurar desgloses" href="{{ path('admin_crud_desglocesporindicador_new', { 'id_indicador': indicadore.id }) }}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></a>
                                {% if indicador_has_data[indicadore.id] is defined %}
                                    {% if data_to_approve[indicadore.id] is defined %}
                                                                      <a class="btn btn-danger" title="Aprobar/Desaprobar valores" href="{{ path('admin_crud_valoresindicadores_index', { 'id_indicador': indicadore.id }) }}"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
                                    {% else %}
                                                                      <a class="btn btn-success" title="Aprobar/Desaprobar valores" href="{{ path('admin_crud_valoresindicadores_index', { 'id_indicador': indicadore.id }) }}"><i class="fa fa-check-circle fa-fw" aria-hidden="true"></i></a>
                                    {% endif %}
                                {% endif %}
  
                            {% endif %}
                            {% if indicador_has_data[indicadore.id] is defined %}
                            <a class="btn btn-default" title="Ver en mapa" href="{{ path('explora_initialize', { 'id': indicadore.id }) }}"><i class="fa fa-map fa-fw" aria-hidden="true"></i></a>
                            {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-success"  href="{{ path('admin_crud_indicadores_new') }}">Nuevo</a>
    {% endif %}

<script type="text/javascript">
    $(document).ready(function() {

        var table = null;

        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var objetivo_selected = {{ objetivo_seleccionado }};
        var meta_selected = {{ meta_seleccionada }};

        function initTable(){
            table = $('#indicadoresTable').DataTable({
  				dom: 'Bfrtip',
                 "language": {
                    "url": "/lang/datatables_spanish.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": 0 },
                    { "visible": false, "targets": 1 },
                    { "width": "35%","title": "Descripción", "targets": 3 },
                    { "title": "Valor mín.", "targets": 5 },
                    { "title": "Valor máx.", "targets": 6 },
                    { "width": "30%", "targets": 9 },
                ],
                
                buttons: [	
     		{
                    extend:'csv',
                    className:'btn-info',
                    exportOptions: {
                        columns: ':visible',
                    },
                    message: "Objetivos de Desarrollo Sostenible\nINDICADORES",                    
                    text: "CSV",
                    title: "ODS-Indicadores",
            },            

			{
                    extend:'excel',
                    className:'btn-success',
                    exportOptions: {
                        columns: ':visible',
                    },
                    message: "Objetivos de Desarrollo Sostenible\nINDICADORES",                    
                    text: "EXCEL",
                    title: "ODS-Indicadores"
            },            
            {
                    extend:'pdfHtml5',
                    className:'btn-danger',
                    exportOptions: {
                                columns: ':visible'
                    },
                    text: "PDF",
                    title: "Plataforma ODS - Indicadores",
                    customize: function ( doc ) {
                        doc.content.splice(1, 0, 
                            {
                                text: getHeadingExportMessage(),
                                alignment: 'left'
                            }
                        )
                    }
            },     
            {
                extend: 'colvis',
                text: "Columnas Visibles",
                columns: ':gt(1)'
            }          
        ]
        
            });
            
            
            
            
            
            
        }

        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
               //console.log(data);
                                                                  console.log(objetivo_selected);
               console.log(meta_selected);
                if (objetivo_selected == -1){
                    return true;
                }
                if (meta_selected == -1){
                    currentObjetivo = data[2].split(".")[0];
                    if (objetivo_selected == currentObjetivo){
                        return true;
                    }
                }

                if (parseInt(data[0]) == meta_selected){
                    return true;
                } 
                return false;
        });



        function getHeadingExportMessage(){
            return  "Objetivo: " +  $('#three_select_objetivo option:selected').attr('title') + "\n\n" +  "Meta: " +  $('#three_select_meta option:selected').attr('title') + "\n\n";
        }

        function filterTableIndicadores(){
            meta_selected = $('#three_select_meta').val();
            objetivo_selected = $('#three_select_objetivo').val();
            if (meta_selected != -1){
                metaText = $('#three_select_meta option:selected').text();
                objetivoMeta = metaText.split('-')[0].split('.')[0];
                $('#three_select_objetivo').val(objetivoMeta);
                objetivo_selected = objetivoMeta;
            }
            table.draw();
        }

        function objetivoChange(){
            console.log("ojb change!!!!!");
            objetivo_selected = $('#three_select_objetivo').val();
            if (objetivo_selected == -1){
                $('#three_select_meta').val(-1);
            }
        }

        function initThreeSelect(){
            modelThreeSelect = new ThreeSelectData({
                'objetivos': objetivos,
                'metas': metas,
                'objetivo_selected': objetivo_selected,
                'meta_selected': meta_selected,
                'add_global_option': true,
            });
            viewThreeSelect = new ThreeSelectView({el: $("#selects"), model:modelThreeSelect,
                objetivo_selected: objetivo_selected, meta_selected: meta_selected, objetivoChangeCallback: objetivoChange,
                metaChangeCallback: filterTableIndicadores,
            });
        }


        function init(){ 
            initTable();
            initThreeSelect();
            filterTableIndicadores();
        }


        init();



} );
</script>
{% endblock %}
