{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Indicadores creation</h1>

    {{ form_start(form) }}

        <div>
           <div id="selects"></div>
        </div>

        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('admin_crud_indicadores_index') }}">Back to the list</a>
        </li>
    </ul>


<script type="text/javascript">

    $(document).ready(function() {
        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var model = new ThreeSelectData({
            'objetivos': objetivos,
            'metas': metas
        });
        var view = new ThreeSelectView({el: $("#selects") ,model:model});

        $('form[name="indicadores"]').submit(function() {
            var meta = model.get('meta_selected');
            $('form #indicadores_fkidmeta').val(meta)

        });
    });
</script>



{% endblock %}
