{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Nuevo indicador</a></li>
    </ol>

    <div class="page-header">
          <h1>Nuevo Indicador</h1>
    </div>

    {{ form_start(form) }}

        <div>
           <div id="selects"></div>
        </div>

        {{ form_widget(form) }}
        <input class="col-md-1 btn btn-success option-btn" type="submit" value="Crear" />
    {{ form_end(form) }}

<div class="row">
<a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_index') }}">Volver atrás</a>
</div>



<script type="text/javascript">

    $(document).ready(function() {
        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var model = new ThreeSelectData({
            'objetivos': objetivos,
            'metas': metas
        });
        var view = new ThreeSelectView({el: $("#selects") ,model:model});
    });
</script>



{% endblock %}
