{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/underscore-min.js') }}"></script>
    <script src="{{ asset('js/backbone-min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/ThreeSelect.js') }}"></script>
    <script src="{{ asset('js/HighlightDates.js') }}"></script>
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
        <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
        <li class="active">Nuevo indicador</a></li>
    </ol>

    <div class="page-header">
          <h1>Nuevo Indicador</h1>
    </div>

    {{ form_start(form) }}

        <div>
           <div id="selects"></div>
        </div>

        {{ form_widget(form) }}

         <div>
           <div id="highlightDatesControl"></div>
        </div>

        <input class="col-md-1 btn btn-success option-btn" type="submit" value="Crear" />
    {{ form_end(form) }}

<div class="row">
<a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_index') }}">Volver atrás</a>
</div>



<script type="text/javascript">

    $(document).ready(function() {


        var objetivos = {{ objetivos|json_encode|raw}};
        var metas = {{ metas|json_encode|raw}};

        var modelThreeSelect = null;
        var viewThreeSelect = null;

        var modelHighlightDates = null;
        var viewHighlightDates = null;

        function addThreeSelectControls(){
            modelThreeSelect = new ThreeSelectData({
                'objetivos': objetivos,
                'metas': metas
            });
            viewThreeSelect = new ThreeSelectView({el: $("#selects"), model:modelThreeSelect});
        }


        // Agrego al formulario controles para agregar fechas destacadas
        function addHiglightedDatesControls(){
            modelHighlightDates = new HighlightDates({dates:[]});
            viewHighlightDates = new HighlightDatesView({el: $("#highlightDatesControl"), model:modelHighlightDates});
        }



        addThreeSelectControls();
        addHiglightedDatesControls();

        $('.expected-value-datepicker').datepicker({
            format: 'yyyy-mm-dd',
            format: "yyyy-mm-dd",
            minViewMode: 2,
            autoclose: true,
        });

        $('form[name="indicadores"]').submit(function() {
            // Seteo fechas destacadas en el formulario
            $('#indicadores_fechasdestacadas').val(modelHighlightDates.getFormattedDates());
        });

    });
</script>



{% endblock %}
