{% extends 'base.html.twig' %}

{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
    <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
    <li class="active">Detalle de indicador</a></li>
</ol>

    <div class="page-header">
          <h2>Detalle de Indicador</h2>
    </div>

<dl class="dl-horizontal">
    <dt>Código</dt>
    <dd>{{indicadore.fkidmeta.fkidobjetivo.codigo}}.{{indicadore.fkidmeta.codigo}}.{{indicadore.codigo}}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Descripción</dt>
    <dd>{{ indicadore.descripcion }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Tipo</dt>
    <dd>{{ indicadore.tipo }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Valor mínimo</dt>
    <dd>{{ indicadore.valmin }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Valor máximo</dt>
    <dd>{{ indicadore.valmax }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Ámbito</dt>
    <dd>{{ indicadore.ambito }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Visible</dt>
    <dd>{{ indicadore.visible ? "Si" : "No"}}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Documento técnico</dt>
    <dd>
        
        {% if indicadore.documentpath == NULL%}
            Sin documento técnico
        {% else %}
            <a target="_blank" href="{{ asset('uploads/indicadores/' ~ indicadore.documentpath) }}">Ver documento técnico</a>
        {% endif %}
    </dd>
</dl>

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_index') }}">Volver</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_edit', { 'id': indicadore.id }) }}">Editar</a>
                {{ form_start(delete_form) }}
                    <button id="btnInitIndicadorDelete" class="col-md-1 btn btn-danger option-btn" type="button" value="Eliminar">Eliminar</button>
                {{ form_end(delete_form) }}
            {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="deleteIndicadorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-exclamation-triangle" style="color:red;"></i>   ATENCIÓN! Está a punto de borrar un Indicador</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">Usted está a punto de borrar un indicador. Esta operación borrará TODOS los valores y configuraciones asociadas al mismo.</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="confirmDeleteIndicador" type="button" class="btn btn-danger">Eliminar indicador</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {


        $('#btnInitIndicadorDelete').on('click', function(){
            $('#deleteIndicadorModal').modal();
            //event.preventDefault();
        });

        $('#confirmDeleteIndicador').on('click', function(){
            $('form[name="form"]').submit();
        });


    });
</script>


{% endblock %}
