{% extends 'base_panel_users.html.twig' %}

{% block panel_body %}

<ol class="breadcrumb">
    <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
    <li><a href="{{ path('admin_crud_indicadores_index') }}">Indicadores</a></li>
    <li class="active">Detalle de indicador</a></li>
</ol>

    <div class="page-header">
          <h2>Detalle de Indicador</h2>
    </div>

<dl class="dl-horizontal">
    <dt>Código</dt>
    <dd>{{indicadore.fkidmeta.fkidobjetivo.codigo}}.{{indicadore.fkidmeta.codigo}}.{{indicadore.codigo}}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Descripción</dt>
    <dd>{{ indicadore.descripcion }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Tipo</dt>
    <dd>{{ indicadore.tipo }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Valor mínimo</dt>
    <dd>{{ indicadore.valmin }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Valor máximo</dt>
    <dd>{{ indicadore.valmax }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Ámbito</dt>
    <dd>{{ indicadore.ambito }}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Visible</dt>
    <dd>{{ indicadore.visible ? "Si" : "No"}}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Documento técnico</dt>
    <dd>
        
        {% if indicadore.documentpath == NULL%}
            Sin documento técnico
        {% else %}
            <a target="_blank" href="{{ asset('uploads/indicadores/' ~ indicadore.documentpath) }}">Ver documento técnico</a>
        {% endif %}
    </dd>
</dl>

<div class="row">
            <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_index') }}">Volver</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="col-md-1 btn btn-primary option-btn" href="{{ path('admin_crud_indicadores_edit', { 'id': indicadore.id }) }}">Editar</a>
                <!--{{ form_start(delete_form) }}
                    <button id="btnInitIndicadorDelete" class="col-md-1 btn btn-danger option-btn" type="button" value="Eliminar">Eliminar</button>
                {{ form_end(delete_form) }}-->
            {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function() {


        $('#btnInitIndicadorDelete').on('click', function(){
            $('#deleteIndicadorModal').modal();
            //event.preventDefault();
        });

        $('#confirmDeleteIndicador').on('click', function(){
            $('form[name="form"]').submit();
        });


    });
</script>


{% endblock %}
