{% extends 'base.html.twig' %}

{% block body %}
    <h1>Usuarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Domicilio</th>
                <th>Localidad</th>
                <th>Provincia</th>
                <th>Telefono</th>
                <th>Dependencia</th>
                <th>Observaciones</th>
                <th>Rol</th>
                <th>Isactive</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('admin_users_show', { 'id': usuario.id }) }}">{{ usuario.username }}</a></td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.domicilio }}</td>
                <td>{{ usuario.localidad }}</td>
                <td>{{ usuario.provincia }}</td>
                <td>{{ usuario.telefono }}</td>
                <td>{{ usuario.dependencia }}</td>
                <td>{{ usuario.observaciones }}</td>
                <td>{{ usuario.rol }}</td>
                <td>{% if usuario.isactive %}Yes{% else %}No{% endif %}</td>
                <td>{{ usuario.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_users_show', { 'id': usuario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_users_edit', { 'id': usuario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_users_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
