{% extends 'base.html.twig' %}

{% block body %}
<h1>Valores indicadores</h1>

<table id="tableValoresIndicadores"  class="display" cellspacing="0" width="100%">
	<thead>
	<tr>
		<th>Indicador</th>
		<th>Etiqueta</th>
		<th>Ref. geográfica</th>
		<th>Fecha</th>
		<th>Valor</th>
		<th>Aprobado</th>
		<th>Acciones</th>	
	</tr>
	</thead>
	{% for valorindicador in valoresindicadores %}
	<tr>
		<td>{{ valorindicador.idIndicador }}</td>
		<td>{{ valorindicador.idEtiqueta }}</td>
		<td>{{ valorindicador.idRefgeografica }}</td>
		<td>{{ valorindicador.fecha|date("m/d/Y") }}</td>
		<td>{{ valorindicador.valor }}</td>
		<td>{{ valorindicador.aprobado }}</td>
		<td>accion 1</td>
	</tr>
	{% endfor %}
</table>


<script type="text/javascript">
	console.log("carga");
	$(document).ready(function() {
    	$('#tableValoresIndicadores').DataTable();
	} );

</script>

{% endblock %}