{% extends 'base_panel_users.html.twig' %}

{% block panel_body %}
{% if  show_breadcrumbs is defined and show_breadcrumbs == true %} 
<ol class="breadcrumb">
    <li><a href="{{ path('paneluser_index') }}">Panel de usuario</a></li>
    <li class="active">Administrar usuarios</li>
</ol>
{% endif %}

     <div class="page-header">
          <h2>Administrar Usuarios               
    <a class="btn btn-success btnNewEntityHeader" href="{{ path('fos_user_registration_register') }}">Nuevo</a></h2>
    </div>

<table id="usuariosTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Username</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Dependencia</th>
                <th>Habilitado</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for usuario in usuarios %}
            <tr>
                <td><a href="{{ path('fos_user_profile_show', {'id':usuario.id})}}">{{ usuario.username }}</a></td>
                <td>{{ usuario.apellido }}</td>
                <td>{{ usuario.nombre }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.dependencia }}</td>
                <td>{{ usuario.enabled ? "Sí" : "No"}}</td>
                <td>
                    {{ roles_map[usuario.roles[0]]}}
                </td>
                <td>
                    <a href="{{ path('fos_user_profile_show', {'id':usuario.id})}}" class="btn btn-primary" title="Ver" href=""><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                    <a href="{{ path('fos_user_profile_edit', {'id':usuario.id})}}" class="btn btn-warning" title="Editar" href=""><i class="fa fa-edit fa-fw" aria-hidden="true"></i></a>
                    <a href="{{ path('fos_user_resetting_request', {'id': usuario.id})}}" class="btn btn-info" title="Reestablecer Contraseña" href=""><i class="fa fa-unlock fa-fw" aria-hidden="true"></i></a>
                    {% if 'ROLE_SUPER_ADMIN' not in usuario.roles %}
                    {% if usuario.enabled == true %} 
                    <a href="{{ path('fos_user_profile_disable', {'id':usuario.id})}}" class="btn btn-danger" title="Deshabilitar" href=""><i class="fa fa-times fa-fw" aria-hidden="true"></i></a>
                    {% else %}
                    <a href="{{ path('fos_user_profile_disable', {'id':usuario.id})}}" class="btn btn-success" title="Habilitar" href=""><i class="fa fa-check-square-o fa-fw" aria-hidden="true"></i></a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<script type="text/javascript">
    $(document).ready(function() {
    $('#usuariosTable').DataTable({
         "language": {
            "url": "/lang/datatables_spanish.json"
        }
    });
} );
</script>

{% endblock %}
